body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#logo {
    width: 100px; /* Adjust logo size */
    height: auto;
}
#map { height: 100vh; }
#controls {
    padding: 10px;
    background: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
#results-container, #favorites-list {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}
.result-item {
    padding: 8px;
    cursor: pointer;
}
.result-item:hover {
    background: #f0f0f0;
}
.favorite-item {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorite-item:hover {
    background: #f0f0f0;
}
.delete-button {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
